@font-face {
    font-family: "Exo2.0-Thin";
    src: url("../fonts/Exo2.0-Thin.otf") format("opentype");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: "Trebuchet";
    src: url("../fonts/trebuc.ttf") format("true type");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: "Trebuchet";
    src: url("../fonts/trebucbd.ttf") format("truetype");
    font-weight:bold;
    font-style:normal;
}

html {
    box-sizing: border-box;
}


*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background: url("../img/pattern.png");
    margin: 0;
    padding: 0;
}
/* Page */
.page {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

.page__header {
    font-size: 1.5em;
    color: white;
    padding-top: 1.5em;
    text-align: center;
    font-family: 'Exo2.0-Thin';
    font-weight: bold;
}
/* Page end */
/* cat-food */
.cat-food {
    --color: #2ea7e6;
    width: 88%;
    height: 80vh;
    max-height: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6vh;
    margin-top: 6vh;
    position: relative;
    max-width: 360px;
    min-width: 320px;
    font-family: "Trebuchet";
}

.cat-food--selected {
    --color: #d91667;
}

.cat-food__header {
    display: flex;
    position: relative;
    cursor: pointer;
}

.cat-food__top-left-corner, .cat-food__top-phrase  {
    height: 3rem;
}

.cat-food__top-left-corner {
    width: 3rem;
    border-top: 3rem solid transparent;
    border-right: 3rem solid white;
}

.cat-food__top-phrase {
    background-color: white;
    border-right: 4px solid var(--color);
    border-top: 4px solid var(--color);
    border-top-right-radius: 0.2em;   
    flex-grow: 1;
    padding-top: 1.1em;
    font-size: 1.1em;
    color: #939393;
}

.cat-food__content {
    background-color: white;
    border-right: 4px solid var(--color);
    border-bottom: 4px solid var(--color);
    border-left: 4px solid var(--color);
    border-bottom-right-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    background-image: url("../img/cat.png");
    background-position: left -1.5em bottom -5.6em;
    background-repeat: no-repeat;
    background-size: 110%;
    position: relative;
    height: 85%;
    padding-top: 0.3em;
    cursor: pointer;
}

.cat-food__brand, .cat-food__title,
.cat-food__portions, .cat-food__mouse-gift {
    padding-left: 15%;
}

.cat-food__brand {
    font-size: 3.4em;
    font-weight: bold;
    margin-bottom: 0;
}

.cat-food__title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.cat-food__portions, .cat-food__mouse-gift {
    font-size: 0.8em;
    color: #939393;
}

.cat-food__number {
    font-weight: bold;
}

.cat-food__weight {
    position: absolute;
    right: 1.5em;
    bottom: 1.5em;
    font-weight: bold;
}

.cat-food__bottom-phrase {
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 1.6em;
    font-size: 0.9em;
}

.cat-food__buy {
    text-decoration: none;
    border-bottom: 1px dashed var(--color);
    color: var(--color);
}

/* cat-food end */
/* line */

.line {
    position: absolute;
    z-index: 2;
    left: 3em;
    width: 4px;
    background-color: var(--color);
    height: 4.24em;
    transform: rotate(45deg);
    transform-origin: top left;
}
/* line */

/* weight */

.weight {
    border-radius: 50%;
    width: 5em;
    height: 5em;
    background-color: var(--color);
}

.weight__number {
    font-size: 2.1em;
    color: white;
    text-align: center;
    padding-top: 0.25em;
}

.weight__measurement-units {
    text-align: center;
    color: white;
}
/* weight end */

@media screen and (min-width: 600px) {

    /* page */ 

    .page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    .page__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* page end */


    .cat-food {
        width: 20em;
        height: 30em;
        margin: 2.5em;
    }
}

@media screen and (min-width: 1120px) {

    /* page */

    .page__header {
        font-size: 1.8em;
        padding-bottom: 1.5em;
    }
    /* page end */

    /* cat-food */

    .cat-food {
        margin: 1.6em;
    }

    .cat-food__brand {
        font-size: 3em;
    }

    /* cat-food end */
}
